<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Price</title>
</head>
<body>
    <h1>Enter Laptop Specifications</h1>
    <form action="/predict" method="post">
        <label for="CPU">CPU:</label>
        <input type="text" id="CPU" name="CPU"><br><br>
        <label for="GHz">GHz:</label>
        <input type="text" id="GHz" name="GHz"><br><br>
        <label for="GPU">GPU:</label>
        <input type="text" id="GPU" name="GPU"><br><br>
        <label for="RAM">RAM:</label>
        <input type="text" id="RAM" name="RAM"><br><br>
        <label for="RAMType">RAM Type:</label>
        <input type="text" id="RAMType" name="RAMType"><br><br>
        <label for="Screen">Screen:</label>
        <input type="text" id="Screen" name="Screen"><br><br>
        <label for="Storage">Storage:</label>
        <input type="text" id="Storage" name="Storage"><br><br>
        <label for="SSD">SSD:</label>
        <input type="text" id="SSD" name="SSD"><br><br>
        <label for="Weight">Weight:</label>
        <input type="text" id="Weight" name="Weight"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
